<html>
    <head>
        <meta charset="utf-8">
        <title>About</title>
    </head>
    <body>
        <p>GET:取得全台地址：api/address</p>
        <p>GET:取得所有類別資訊：api/category</p>
        <p>GET:取得單一類別資訊：api/category?maincategory={spot,food,activity}</p>
        <p>POST:取得所有類別詳細資訊：api/detail</p>
        <form action="api/detail" method="POST">
            大類(food,spot,activity)<input name="maincategory"/><br>
            小類(number)<input name="categoryid"><br>
            名稱<input name="name"/><br>
            縣市(A~Z)<input name="addrone">
            地區(郵遞)<input name="addrtwo">
            地址<input name="adress"/><br>
            <input type="submit"/>
        </form>
        <p>取得特定類別詳細資訊：api/detail?
            maincategory={spot,food,activity}
            &detailid={number}
        </p>
    </body>
</html>